swagger: "2.0"
info:
  version: "0.0.1"
  title: Trivia OFB
# during dev, should point to your local machine
host: localhost:10011
schemes:
  - http
consumes:
  - application/json
produces:
  - application/json
basePath: /trivia


definitions:
  
  QuestionInfo:
    type: object
    properties:
      content:
        type: [string, 'null']
      endDate:
        type: [string, 'null']
  
  Winners:
    type: array
    items:
      type: string
    
paths:
  
  /question:
    x-swagger-router-controller: questionController
    
    get:
      operationId: getTriviaInfo
      summary: An object with content and time to end.
      description: Retrieves the questionof the trivia and the date that it ends.
      
      responses:
        
        200:
          schema:
            $ref: "#/definitions/QuestionInfo"
          description: A JSON object with question and timeToEnd
  
  /winners:
    x-swagger-router-controller: winnersController
    
    get:
      operationId: getWinners
      summary: Retrieves the names of the previous trivia winners.
      description: Returns the names of the winners in an array
      
      responses:
        
        200:
          schema:
            $ref: "#/definitions/Winners"
          description: A JSON object with question and timeToEnd
  
  /answer:
    post:
      description: Allows the users to send the answer for the trivia alongside their personal info
      
      parameters: 
        - in: header
          name: name
          type: string
          required: true
        - in: header
          name: lastName
          type: string
          required: true
        - in: header
          name: email
          type: string
          required: true
        - in: header
          name: cellphone
          type: string
          required: true
        - in: header
          name: allowContact
          type: string
          required: true
        - in: header
          name: answer
          type: string
          required: true
      
      responses:
        200:
          description: ok
      
      
        
    